---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <article itemscope itemtype="http://schema.org/Article">
    <h1 class="entry_li card card-body">
      <a class="disable-href" href="{{ site.baseurl }}{{ post.url }}">
        <span itemprop="name">
        {{ post.title }}
        </span>
      </a>
    </h1>

  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
