---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <article itemscope itemtype="http://schema.org/Article">
    <h6 class="entry_li card card-body">
      <a class="disable-href" href="{{ site.baseurl }}{{ post.url }}">
        <span itemprop="name">
        {{ post.title }}
        </span>
      </a>
    </h6>

  </article>
  {% endfor %}
</div>

<div class="pagination navbar">
  {% if paginator.next_page %}
    <a class="btn btn-dark pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Eski</a>
  {% else %}
    <span class="pagination-item older"></span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="btn btn-dark pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Yeni</a>
  {% else %}
    <span class="pagination-item newer"></span>
  {% endif %}
</div>
