<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="Abstract" content="Ekşi sözlük debe arşivlerini tutan sitedir."/>
  <meta http-equiv="content-language" content="tr"/>
  <meta name="robots" content="index,follow"/>
  <meta name="keywords" content="ekşisözlük,ekşi,eksi,sözlük,debe,arşiv,geçmiş,listeler,oku">
  <meta name="description" content="Ekşi sözlük debe arşivi.">

  <meta property="og:locale" content="tr_TR"/>
  <meta property="og:title" content="Ekşi Sözlük Debe Arşivi" />
  <meta property="og:description" content="Ekşi sözlük debe arşivi."/>
  <meta property="og:url" content="https://debearsivi.github.io"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Debe Arşivi"/>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-66133875-1', 'auto');
    ga('send', 'pageview');
  
  </script>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://getbootstrap.com/assets/css/docs.min.css">
  <link rel="stylesheet" href="https://debearsivi.github.io/public/beta.css">

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
  function getCookie(key) {
            var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
            return keyValue ? keyValue[2] : null;
  }
  function filterSave(key) {
    if(getCookie(key) == 'false') { 
      document.cookie= key + '=true; expires:Fri, 8 Jul 2030 00:00:00 UTC; path=/';
    } else {
      document.cookie= key + '=false; expires:Fri, 8 Jul 2030 00:00:00 UTC; path=/'; 
    }
  }
  function snackbar() {
      // Get the snackbar DIV
      var x = document.getElementById("snackbar");
  
      if (getCookie('onetime') != 'true') {
        // Add the "show" class to DIV
        x.className = "show";
  
        // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        document.cookie = 'onetime=true; expires:Fri, 8 Jul 2030 00:00:00 UTC; path=/';
      }
  }
  // Scroll sync
  $(document).on( 'scroll', function() { 
    var target = document.getElementsByClassName("navigation_container")[0];
    target.scrollTop = document.getElementsByClassName("active")[0].offsetTop;}
  );
  // So PoC, TODO: fix this.
  var idx = 0;
  $(document).ready(function() {
    $(".filter_button").click(function(){ if($(this).hasClass('btn-dark')) { $(this).removeClass('btn-dark'); $(this).addClass('btn-outline-dark');} else { $(this).removeClass('btn-outline-dark'); $(this).addClass('btn-dark'); } });
    snackbar();
    for(i=0; i<$('.filter_button').length; i++) {
      if(getCookie($('.filter_button')[i].name) == 'false') {
        $('.filter_button')[i].click();
      }
    }
    for(i=0; i<50; i++) {
      var entry_content = $('.entry_content')[i];

      // Update relative paths
      entry_content.innerHTML = entry_content.innerHTML.replace(/href="\//g, 'href="http://www.eksisozluk.com/');
    }

    $("body").keydown(function (event) {
        // left arrow or k
        if (((event.keyCode || event.which) == 37) || ((event.keyCode || event.which) == 75))

        {
          idx -= 1;
        } else if (((event.keyCode || event.which) == 39) || ((event.keyCode || event.which) == 74))
        {
          idx += 1;
        } else {
          return;
        }

        if(idx < 0) {
          idx = 0;
        } else if(idx > 49) {
          idx = 49;
        }
        document.getElementsByClassName("entry_container")[idx].scrollIntoView(true);
    });
   });
  </script>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
</head>
