<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="bg-light">

  <header class="bg-dark navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <div class="container d-flex justify-content-between">
    <a class="disable-href navbar-brand mr-0 mr-md-2" href="/">Debe Arşivi</a>
    <p class="navbar-nav navbar-brand">{{ page.title }}</p>
  
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="disable-href nav-link active" href="/beta-eksi.html">Ekşi Sözlük</a>
        </li>
        <li class="nav-item">
          <a class="disable-href nav-link " href="/beta-reddit.html">Reddit</a>
        </li>
      </ul>
    </div>
    </div>
  </header>

<div class="container content col-md-9">

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
