<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body data-spy="scroll" data-target="#navigation" data-offset="0" class="bg-light">

  <header class="bg-dark navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <div class="container d-flex justify-content-between">
    <a class="disable-href navbar-brand mr-0 mr-md-2" href="/">Debe Arşivi</a>
    <div class="navbar-nav mr-auto">
      <p class="navbar-nav nav-link mr-auto">{{ page.title }}</p>
    </div>
    </div>
    <a target="_blank" class="navbar-nav nav-link mr-auto disable-href navbar-brand mr-0 mr-md-2 d-none d-xl-block" href="https://chrome.google.com/webstore/detail/ek%C5%9Fir/gehalpinjncgookljbhlcafbcpdkbnmm">EkşiR</a>
    <a target="_blank" class="navbar-nav nav-link mr-auto disable-href navbar-brand mr-0 mr-md-2" href="https://goo.gl/forms/biajv2QfasCtugXU2"><svg style="color:white; fill: currentColor;" height="24" class="octicon octicon-report" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1H7l-4 4v-4H1a1 1 0 0 1-1-1V2zm1 0h14v9H6.5L4 13.5V11H1V2zm6 6h2v2H7V8zm0-5h2v4H7V3z"></path></svg></a>
    {% if page.title contains "Ekşi Sözlük" %}
      <button onclick="$('div[name=filters]').toggle()" type="button" class="mb-1 mt-1 btn btn-outline-light d-none d-xl-block">Filtrele</button>
    {% endif %}
  </header>

<div>

      <div>
        {{ content }}
      </div>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
