<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body data-spy="scroll" data-target="#navigation" data-offset="0" class="bg-light">

  <header class="bg-dark navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <div class="container d-flex justify-content-between">
    <a class="disable-href navbar-brand mr-0 mr-md-2" href="/">Debe Arşivi</a>
    <div class="navbar-nav mr-auto">
      <p class="navbar-nav nav-link mr-auto">{{ page.title }}</p>
    </div>
    </div>
    {% octicon report %}
    <a class="navbar-nav nav-link mr-auto disable-href navbar-brand mr-0 mr-md-2 d-none d-xl-block" href="https://chrome.google.com/webstore/detail/ek%C5%9Fir/gehalpinjncgookljbhlcafbcpdkbnmm">EkşiR<p></p></a>
    {% if page.title contains "Ekşi Sözlük" %}
      <button onclick="$('div[name=filters]').toggle()" type="button" class="mb-1 mt-1 btn btn-outline-light d-none d-xl-block">Filtrele</button>
    {% endif %}
  </header>

<div>

      <div>
        {{ content }}
      </div>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
