---
layout: default
---

<div id="snackbar">j+k veya &larr; &rarr; tuşlarıyla gezinebilirsiniz.</div>
<div class="col-12 col-md-3 col-xl-2 bd-sidebar">
</div>
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
<article itemscope itemtype="http://schema.org/Article">
 {% for i in page.data %}
      <li class="entry_li card">
        <a class="entry_list card-header" name="{{ i.entry_id }}" href="#{{ i.entry_id }}">{{ i.entry_name }}</a>
        <div class="entry_content card-body card-text" id="entry_{{ i.entry_id }}"
             data-writer="{{ i.entry_writer }}" data-title="{{ i.entry_name }}">{{ i.entry_content }}</div>
        <div id="entry_info_{{ i.entry_id }}" class="card-body justify-content-between d-flex">
            <a id="entry_link_{{ i.entry_id }}" href="https://www.eksisozluk.com/entry/{{ i.entry_id }}"><img src="https://debearsivi.github.io/public/open-iconic/svg/external-link.svg"> #{{ i.entry_id }}</a>
            <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
            <span itemprop="name">
            <a id="entry_writer" href="https://www.eksisozluk.com/biri/{{ i.entry_writer }}"><img src="https://debearsivi.github.io/public/open-iconic/svg/pencil.svg"> {{ i.entry_writer }}</a>
            </span>
            </span>
        </div>
      </li>
 {% endfor %}
</article>
</main>
