---
layout: default
---

<div id="snackbar" class="d-none d-md-block ">j+k veya &larr; &rarr; tuşlarıyla gezinebilirsiniz.</div>
<div class="container-fluid">
<div class="row flex-xl-nowrap">

<div class="row d-none d-md-block col-12 col-md-3 col-xl-2 bd-sidebar navigation_container">
 <ul id="navigation" class="navbar navbar-light bg-light section-nav">
 {% for i in page.data %}
 <li class="toc-link toc-h3 pb-3">
  <a class="disable-href nav-link" href="#{{ i.entry_id }}">{{ i.entry_name }}</a>
  {% assign channels = i.entry_channels | split: ',' %}
  {% for channel in channels %}
  <div name="{{ channel }}"></div>
  {% endfor %}
 </li>
 {% endfor %}
 </ul>
</div>

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
<article itemscope itemtype="http://schema.org/Article">
 {% for i in page.data %}
    <div class="entry_container card-body" id="{{ i.entry_id }}">
      <li class="entry_li card">
        <a class="entry_list card-header" name="{{ i.entry_id }}" href="#{{ i.entry_id }}">{{ i.entry_name }}</a>
        <div class="entry_content card-body card-text" id="entry_{{ i.entry_id }}"
             data-writer="{{ i.entry_writer }}" data-title="{{ i.entry_name }}">{{ i.entry_content }}</div>
        <div id="entry_info_{{ i.entry_id }}" class="card-body justify-content-between d-flex">
            <a id="entry_link_{{ i.entry_id }}" href="https://www.eksisozluk.com/entry/{{ i.entry_id }}"><img src="https://debearsivi.github.io/public/open-iconic/svg/external-link.svg"> #{{ i.entry_id }}</a>
            <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
            <span itemprop="name">
            <a id="entry_writer" href="https://www.eksisozluk.com/biri/{{ i.entry_writer }}"><img src="https://debearsivi.github.io/public/open-iconic/svg/pencil.svg"> {{ i.entry_writer }}</a>
            </span>
            </span>
        </div>
      </li>
      {% assign channels = i.entry_channels | split: ',' %}
      {% for channel in channels %}
      <div name="{{ channel }}"></div>
      {% endfor %}
    </div>
 {% endfor %}
</article>
</main>

{% if page.title contains "Ekşi Sözlük" %}
<div class="d-none d-xl-block col-xl-2 bd-toc">
<div name="filters" style="display: none;">
    
<button name="anket" onclick="$('div[name=anket]').parent().toggle(); filterSave('anket');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#anket</button><br>
<button name="bilim" onclick="$('div[name=bilim]').parent().toggle(); filterSave('bilim');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#bilim</button><br>
<button name="edebiyat" onclick="$('div[name=edebiyat]').parent().toggle(); filterSave('edebiyat');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#edebiyat</button><br>
<button name="eğitim" onclick="$('div[name=eğitim]').parent().toggle(); filterSave('eğitim');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#eğitim</button><br>
<button name="ekonomi" onclick="$('div[name=ekonomi]').parent().toggle(); filterSave('ekonomi');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#ekonomi</button><br>
<button name="ekşi-sözlük" onclick="$('div[name=ekşi-sözlük]').parent().toggle(); filterSave('ekşi-sözlük');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#ekşi-sözlük</button><br>
<button name="haber" onclick="$('div[name=haber]').parent().toggle(); filterSave('haber');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#haber</button><br>
<button name="havacılık" onclick="$('div[name=havacılık]').parent().toggle(); filterSave('havacılık');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#havacılık</button><br>
<button name="ilişkiler" onclick="$('div[name=ilişkiler]').parent().toggle(); filterSave('ilişkiler');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#ilişkiler</button><br>
<button name="magazin" onclick="$('div[name=magazin]').parent().toggle(); filterSave('magazin');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#magazin</button> <br>
<button name="moda" onclick="$('div[name=moda]').parent().toggle(); filterSave('moda');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#moda</button><br>
<button name="motosiklet" onclick="$('div[name=motosiklet]').parent().toggle(); filterSave('motosiklet');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#motosiklet</button><br>
<button name="müzik" onclick="$('div[name=müzik]').parent().toggle(); filterSave('müzik');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#müzik</button><br>
<button name="otomotiv" onclick="$('div[name=otomotiv]').parent().toggle(); filterSave('otomotiv');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#otomotiv</button><br>
<button name="oyun" onclick="$('div[name=oyun]').parent().toggle(); filterSave('oyun');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#oyun</button><br>
<button name="programlama" onclick="$('div[name=programlama]').parent().toggle(); filterSave('programlama');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#programlama</button><br>
<button name="sağlık" onclick="$('div[name=sağlık]').parent().toggle(); filterSave('sağlık');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#sağlık</button><br>
<button name="sanat" onclick="$('div[name=sanat]').parent().toggle(); filterSave('sanat');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#sanat</button><br>
<button name="seyahat" onclick="$('div[name=seyahat]').parent().toggle(); filterSave('seyahat');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#seyahat</button><br>
<button name="sinema" onclick="$('div[name=sinema]').parent().toggle(); filterSave('sinema');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#sinema</button><br>
<button name="siyaset" onclick="$('div[name=siyaset]').parent().toggle(); filterSave('siyaset');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#siyaset</button><br>
<button name="spoiler" onclick="$('div[name=spoiler]').parent().toggle(); filterSave('spoiler');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#spoiler</button><br>
<button name="spor" onclick="$('div[name=spor]').parent().toggle(); filterSave('spor');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#spor</button><br>
<button name="tarih" onclick="$('div[name=tarih]').parent().toggle(); filterSave('tarih');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#tarih</button><br>
<button name="teknoloji" onclick="$('div[name=teknoloji]').parent().toggle(); filterSave('teknoloji');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#teknoloji</button><br>
<button name="tv" onclick="$('div[name=tv]').parent().toggle(); filterSave('tv');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#tv</button><br>
<button name="yeme-içme" onclick="$('div[name=yeme-içme]').parent().toggle(); filterSave('yeme-içme');" type="button" class="mb-1 mt-1 btn filter_button btn-dark">#yeme-içme</button>

</div>
</div>
{% endif %}

</div>
</div>
