---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
    <div class="col-md-3">
    <ul id="entry_ul">
    {% for i in page.data %}
      <li class="entry_li">
        <a class="entry_list" name="{{ i.entry_id }}" href="#{{ i.entry_id }}">{{ i.entry_name }}</a>
        <div class="entry_content" id="entry_{{ i.entry_id }}"
             data-writer="{{ i.entry_writer }}" data-title="{{ i.entry_name }}">{{ i.entry_content }}</div>
      </li>
    {% endfor %}
    </ul>
    </div>
    <div class="col-md-9">
        <a id="entry_title"></a>
        <div id="prev_next_opt">
            <a id="prev_entry"><< Önceki Entry</a>
            <a id="next_entry">Sonraki Entry >></a>
        </div>
        <br>
        <div class="clearfix"></div>
        <div id="entry_body"></div>
        <div class="clearfix"></div>
        <div id="entry_info">
            <a id="entry_link"></a>
            <a id="entry_writer"></a>
        </div>
    </div>
    <div class="clearfix"></div>
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
